/* remove browse channel background */
.container-2IKOsH,
.header-3xB4vB,
.container-1um7CU {
    background-color: transparent !important;
}

/* hide gift button in message box */
button[aria-label="Send a gift"] {
    display: none;
}

/* prevent parts of user popout from darkening twice */
div > div > div.body-2wLx-E.thin-31rlnD.scrollerBase-_bVAAt > div.bodyInnerWrapper-2bQs1k,
div > div > div.footer-3naVBw {
    background-color: transparent;
}

/* remove members list background */
.container-2qjEOK, .page-2dwf_i {
    background-color: transparent !important;
}
