html {
    background-color: #40404040;
}

/* set accent color */
html {
    --brand-460: var(--site-accent-color) !important;
    --brand-500: var(--site-accent-color) !important;
    --brand-560: var(--site-accent-color) !important;
    --brand-experiment-360: var(--site-accent-color) !important;
    --brand-experiment-530: var(--site-accent-color) !important;
    --brand-experiment-560: var(--site-accent-color) !important;
    --brand-experiment-600: var(--site-accent-color-darker) !important;
    --text-link: var(--site-accent-color) !important;
    --text-positive: var(--site-accent-color);
    --green-360: var(--site-accent-color) !important;
    --background-mentioned: hsla(
        var(--site-hue),
        var(--site-saturation),
        var(--site-lightness),
        0.2
    ) !important;
    --background-mentioned-hover: hsla(
        var(--site-hue),
        var(--site-saturation),
        var(--site-lightness),
        0.3
    ) !important;
}

* {
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
    --bg-base-tertiary: transparent !important;
    --bg-overlay-chat: transparent !important;
    --bg-overlay-floating: transparent !important;
    --bg-overlay-app-frame: transparent !important;
    --background-surface-high: transparent !important;
    --background-base-low: transparent !important;
    --background-base-lower: transparent !important;
    --background-base-lowest: transparent !important;
    --bg-overlay-2: transparent !important;
    --chat-background-default: rgba(0, 0, 0, 0.1) !important;
}

/* hide top bar */
.bar_c38106 {
    display: none !important;
}
.base_c48ade {
    grid-template-rows: unset !important;
}

.sidebarListRounded_c48ade {
    backdrop-filter: unset !important;
}

.app_a3002d {
    color: transparent !important;
}

/* remove help button */
a[href="https://support.discord.com"]
{
    display: none;
}

/* make scrollbars translucent */
.scroller__36d07 {
    scrollbar-color: rgba(0, 0, 0, 0.3) !important;
}

/* remove dark borders */
.content_f75fb0::before,
.tabBody__133bf::before {
    display: none !important;
}

.header_f37cb1 {
    box-shadow: none !important;
}

/* hide useless scrollbars */
div[data-jump-section='global'] {
    overflow-y: initial !important;
}

/* changle selection color */
*::selection {
    background-color: var(--site-accent-color-dark);
}

/* change update icon color */
.updateIconForeground_ff5f90 {
    fill: var(--site-accent-color) !important;
}

/* hide nitro feature popups */
.contentPremium-_Y0-cX {
    display: none !important;
}

/* hide nitro banners */
.colorPremium-1VK7r6 {
    display: none;
}

/* hide reward ad */
.wrapper_c721cc {
    display: none !important;
}
