:root {
    --site-hue: var(--system-hue);
    --site-saturation: var(--system-saturation);
    --site-lightness: var(--system-lightness);
    --site-accent-color: hsl(var(--site-hue), var(--site-saturation), var(--site-lightness));
    --site-accent-color-dark: hsl(var(--site-hue), var(--site-saturation), calc(var(--site-lightness) - 5%));
    --site-accent-color-darker: hsl(var(--site-hue), var(--site-saturation), calc(var(--site-lightness) - 10%));
}

/* all background */
html {
    background-color: #40404040;
}

.theme-dark {
    /* chat background */
    --background-primary: transparent;

    /* main+guilds background */
    --background-tertiary: transparent;

    /* sidebar and guild folder background */
    --background-secondary: transparent;

    /* status and roles area background */
    --background-secondary-alt: transparent;

    /* icon background */
    --background-accent: #00000020;

    /* user popout background */
    --background-floating: #00000090;

    /* chat input box background */
    --channeltextarea-background: #00000020;
	
    /* nav button selected */
    --background-modifier-selected: #00000010;
}

/* hide top bar */
#app-mount > div.typeWindows-2-g3UY.withFrame-2dL45i.titleBar-1it3bQ.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr {
    display: none;
}

/* help icon draggable */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > div > div > div.chat-2ZfjoI > section > div.toolbar-3_r2xA > a > div > svg,
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > div > div > div.container-2cd8Mz > section > div.toolbar-3_r2xA > a > div > svg {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

/* prevent parts of user popout from darkening twice */
* > div > div > div.body-2wLx-E.thin-31rlnD.scrollerBase-_bVAAt > div.bodyInnerWrapper-2bQs1k,
* > div > div > div.footer-3naVBw {
    background-color: transparent;
}

/* make scrollbars translucent */
.scroller-kQBbkU::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.3) !important;
}

/* remove nitro icon in server  list */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > nav > div {
    display: none;
}

/* ------------ */
/* ------------ */
/* ------------ */
/* Friends Page */
/* ------------ */
/* ------------ */
/* ------------ */

/* hide friends search box */
#online-tab > div.searchBar-2aylmZ.container-2oNtJn.medium-2NClDM {
    display: none;
}

/* remove green from Add Friend button */
div[aria-label="Add Friend"] {
    background-color: unset !important;
    color: unset !important;
}

/* remove top seach bar */
.searchBar-3TnChZ {
    display: none !important;
}

/* remove snowsgiving channel */
a.snowsgivingLink-1TZi3c {
    display: none;
}

/* remove nitro channel */
a[href="/store"] {
    display: none;
}

/* make activity now details transparent */ 
.theme-dark .inset-SbsSFp {
    background-color: transparent;
}

/* hide friends list scrollbar */
div[data-list-id="people"]::-webkit-scrollbar {
    display: none;
}

/* hide gift button in message box */
button[aria-label="Send a gift"] {
    display: none;
}

/* set accent color */
html {
    --brand-500: var(--site-accent-color) !important;
    --brand-experiment-360: var(--site-accent-color) !important;
    --brand-experiment-560: var(--site-accent-color) !important;
    --brand-experiment-600: var(--site-accent-color-darker) !important;
    --text-link: var(--site-accent-color) !important;
    --text-positive: var(--site-accent-color);
    --green-360: var(--site-accent-color);
    --mention-background: var(--site-accent-color);
    --mention-foreground: white;
}

/* hide interact buttons on friends list */
.actions-YHvpIT {
    display: none !important;
}

/* hide empty active now card */
.emptyCard-KDifrB {
    display: none !important;
}

/* center active now title */
.header-Imy05m {
    display: none
}

/* remove decoration from discord logo */
#icon > path:nth-child(n+2) {
    display: none;
}

/* remove dark borders */
.content-1jQy2l::before,
.tabBody-2dgbAs::before {
    display: none !important;
}
.header-3OsQeK {
    box-shadow: none !important;
}

/* hide useless scrollbars */
div[data-jump-section="global"] {
    overflow-y: initial !important;
}

/* changle selection color */
*::selection {
    background-color: var(--site-accent-color-dark);
}

/* remote Follow button background */
.followButton-1N-GGp {
    background-color: unset !important;
}

/* remove black background from vc */
.callContainer-HtHELf {
    background: transparent !important;
}
.divider-2keupe {
    background: unset !important;
}

/* remove black background from stages */
.callContainer-BGIngG, .scroller-35tvpe, .rowContainer-jDvyA4, .participants-3hk3ND, .participants-3hk3ND > div, .avatar-rC0Atp {
    background: transparent !important;
}
.gradientContainer-phMG8d {
    display: none !important;
}
.scroller-35tvpe.auto-1QyTTa.scrollerBase-2JI3E3::-webkit-scrollbar {
    width: 0 !important;
    background: transparent !important;
}

/* remove background from forums */
.container-3wLKDe, .textContentFooter-2JnNv8, section[aria-label="Channel header"], .divider-AZrXIA, .children-3xh0VB:after {
    background: transparent !important;
}

/* remove browse channel background */
.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB, .theme-dark .container-1um7CU {
    background-color: unset !important;
}
